@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.stack-layer-grid-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.stack-layer-grid-child {
  grid-area: 1 / 1 / 2 / 2;
}

.navbar-shadow {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
}

/* .service-parent[data-isMouseOver='true'] {
  height: 202%;
  z-index: 99;
}
.service-content[data-isMouseOver='false'] {
  opacity: 0;
  transition: 1000ms;
}
.service-content[data-isMouseOver='true'] {
  opacity: 1;
  transition: 1000ms;
} */

.project-card-text-bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0.20211834733893552) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Slick custom styles */

.slick-list {
  padding-bottom: 2vh !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: #fff !important;
  opacity: 0.7 !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
  opacity: 1 !important;
}
